@font-face {
  font-family: "roboto";
  src: url(/Fonts/Roboto/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto;
}

main {
  background-color: #d2e5f1;
}
.img {
  display: block;
  border-radius: 100%;
  width: 300px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  padding-bottom: 10px;
}

h2 {
  text-decoration: underline;
  font-size: calc(20px + (80 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.text-liste {
  font-size: calc(5px + (20 - 5) * ((100vw - 320px) / (1600 - 320)));
}

input:hover {
  border-color: pink;
  border-style: dashed;
}

ul {
  list-style: none;
}
footer {
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  background-color: white;
}
.Footericons {
  width: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.fi2 {
  width: 150px;
  margin-left: 80px;
  margin-right: 80px;
}
